[flake8]
exclude = .bzr,.hg,.git,__pycache__,.tox,setup.py,.eggs,third_party
max-line-length = 120
application_import_names = pyspecde, tests
import-order-style = pycharm
ignore=E127,E126,W504,W503,F541,E501